@media screen and (max-width: 480px){
	/*******************DISEÑO INDEX****************************/
	.mensaje{
		width: 100%;
		text-align: justify;
		font-size: 20px;
		padding: 15px;
		margin-top: 25%;
	}

	.boton{
		
		padding: 10px;
	}

	.boton a{
		padding:10px;
		border-radius: 5px;
	}

	.text-muted{
		/*border: 2px solid red;*/
		font-size: 25px;
		font-weight: bold;
	}

	.text-primary{
		color: #000;
		font-size: 20px;
	}

	.text-primary a{
		color: #000;
	}

	.border-redondo{
		border-radius: 10px;
	}

	.banner2index{
		padding-top: 10%;
		padding-bottom: 10%;
		height: 100%;
	}

	.h1{
		font-size: 25px;
		font-weight: bold;
	}

	.texto{
		text-align: justify;
		width: 100%;
	}
	/*******************END DISEÑO INDEX************************/

	/*******************DISEÑO NOSOTROS****************************/
	
	.texton, .textonn{
		/*border:2px solid red;*/
		border: 0px;
		text-align: justify;
		width: 100%;
		padding: 2% 5%;
		color: #000;
	}

	.contenmvo{
		/*border: 2px solid red;*/
		width: 100%;
		text-align: center;
	}

	.mision{
		/*border: 2px solid green;*/
		width: 100%;
		margin:0px;
		padding: 0px 5%;
	}

	.imgmision{
		width: 15%;
		border-bottom: 0px;
	}

	.imgmision, .center{
		/*float: left;*/
		display: inline-block;
		vertical-align: top;
	}

	.center{
		font-size: 20px;
		/*padding-top: 8%;*/
	}

	.icono{
		font-size: 10px;
	}
	
	.etica p{
		text-align: justify;
		width: 100%;
		padding: 0px 5%;
	}
	/*******************END DISEÑO NOSOTROS************************/
	
	/*******************DISEÑO SERVICIOS****************************/
	.mensajes{
		width: 100%;
		text-align: justify;
		font-size: 20px;
		padding: 15px;
		margin-top: 25%;
	}

	.info .new-diseño{
		text-align: justify;
	}

	.new-tamaño{
		font-size: 25px;
	}
	/*******************END DISEÑO SERVICIOS************************/

	/*******************DISEÑO CONTACTOS****************************/
	.mensajec{
		width: 100%;
		text-align: justify;
		font-size: 20px;
		padding: 15px;
		margin-top: 25%;
	}

	.panel-body h2{
		font-size: 25px;
		font-weight: bold;
	}


	/*******************END DISEÑO CONTACTOS************************/

	/*******************DISEÑO MENU RESPONSIVO****************************/
	.contenlogomenu{
		height: 350px;
	}

	.imglogo{
		width: 50%;
	}

	.nav{
		/*border: 2px solid red;*/
		width: 100%;
		margin: 0px;
	}

	.nav ul li{
		/*border: 2px solid yellow;*/
		display: inline-block;
		width: 100%;
	}
	/*******************END DISEÑO MENU RESPONSIVO************************/
}

@media screen and (max-width: 599px) and (min-width: 481px) {
	/*******************DISEÑO INDEX****************************/
	.mensaje{
		width: 100%;
		text-align: justify;
		font-size: 20px;
		padding: 15px;
		margin-top: 25%;
	}

	.boton{
		
		padding: 10px;
	}

	.boton a{
		padding:10px;
		border-radius: 5px;
	}

	.text-muted{
		/*border: 2px solid red;*/
		font-size: 25px;
		font-weight: bold;
	}

	.text-primary{
		color: #000;
		font-size: 20px;
	}

	.text-primary a{
		color: #000;
	}

	.border-redondo{
		border-radius: 10px;
	}

	.banner2index{
		padding-top: 10%;
		padding-bottom: 10%;
		height: 100%;
	}

	.h1{
		font-size: 25px;
		font-weight: bold;
	}

	.texto{
		text-align: justify;
		width: 100%;
	}
	/*******************END DISEÑO INDEX************************/

	/*******************DISEÑO NOSOTROS****************************/
	
	.texton, .textonn{
		/*border:2px solid red;*/
		border: 0px;
		text-align: justify;
		width: 100%;
		padding: 2% 5%;
		color: #000;
	}

	.contenmvo{
		/*border: 2px solid red;*/
		width: 100%;
		text-align: center;
	}

	.mision{
		/*border: 2px solid green;*/
		width: 100%;
		margin:0px;
		padding: 0px 5%;
	}

	.imgmision{
		width: 15%;
		border-bottom: 0px;
	}

	.imgmision, .center{
		/*float: left;*/
		display: inline-block;
		vertical-align: top;
	}

	.center{
		font-size: 20px;
		/*padding-top: 8%;*/
	}

	.icono{
		font-size: 10px;
	}
	
	.etica p{
		text-align: justify;
		width: 100%;
		padding: 0px 5%;
	}
	/*******************END DISEÑO NOSOTROS************************/

	/*******************DISEÑO SERVICIOS****************************/
	.mensajes{
		width: 100%;
		text-align: justify;
		font-size: 20px;
		padding: 15px;
		margin-top: 25%;
	}

	.info .new-diseño{
		text-align: justify;
	}

	.new-tamaño{
		font-size: 30px;
	}
	/*******************END DISEÑO SERVICIOS************************/
}

@media screen and (max-width: 799px) and (min-width: 600px) {
	/*******************DISEÑO INDEX****************************/
	.mensaje{
		width: 100%;
		text-align: justify;
		font-size: 20px;
		padding: 15px;
		margin-top: 25%;
	}

	.boton{
		
		padding: 10px;
	}

	.boton a{
		padding:10px;
		border-radius: 5px;
	}

	.text-muted{
		/*border: 2px solid red;*/
		font-size: 18px;
		font-weight: bold;
	}

	.text-primary{
		color: #000;
		font-size: 15px;
	}

	.text-primary a{
		color: #000;
	}

	.border-redondo{
		border-radius: 10px;
	}

	.banner2index{
		padding-top: 10%;
		padding-bottom: 10%;
		height: 100%;
	}

	.h1{
		font-size: 25px;
		font-weight: bold;
	}

	.texto{
		text-align: justify;
		width: 100%;
	}
	/*******************END DISEÑO INDEX************************/

	/*******************DISEÑO NOSOTROS****************************/
	
	.texton, .textonn{
		/*border:2px solid red;*/
		border: 0px;
		text-align: justify;
		width: 100%;
		padding: 2% 5%;
		color: #000;
	}

	.contenmvo{
		/*border: 2px solid red;*/
		width: 100%;
		text-align: center;
	}

	.mision{
		/*border: 2px solid green;*/
		width: 100%;
		margin:0px;
		padding: 0px 5%;
	}

	.imgmision{
		width: 20%;
		border-bottom: 0px;
	}

	/*.imgmision, .center{
		display: inline-block;
		vertical-align: top;
	}*/

	.center{
		font-size: 20px;
		/*padding-top: 8%;*/
	}

	.icono{
		font-size: 10px;
	}
	
	.etica p{
		text-align: justify;
		width: 100%;
		padding: 0px 5%;
	}
	/*******************END DISEÑO NOSOTROS************************/

	/*******************DISEÑO SERVICIOS****************************/
	.mensajes{
		width: 100%;
		text-align: justify;
		font-size: 20px;
		padding: 15px;
		margin-top: 25%;
	}

	.info .new-diseño{
		text-align: justify;
	}

	/*******************END DISEÑO SERVICIOS************************/

	.row{
		border: 2px solid red;
	}
}

@media screen and (max-width: 1023px) and (min-width: 800px) {
	.contenlogomenu{
		padding: 0px;
	}

	.imglogo{
		width: 20%;
		margin: 1% 0px;
	}

	.nav{
		width: 80%;
		margin: 5% 0px;
	}

	.contenmvo{
		width: 100%;
	}

	.etica h2{
		font-size: 25px;
	}

	.etica p{
		text-align: justify;
	}
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {      /* mac*/
}
@media screen and (max-width: 1366px) and (min-width: 1024px) { }

@media screen and (min-width: 1367px) { }